*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding : 40px 30px 70px;
    border-radius: 10px;
}
.todo-app{
    color: #002765;
    display : flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    height: 40px;
    width: 45px;
    margin-left:  12px;
    
}
