@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(image11.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #0f119b;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a {
    font-size: 18px;
    color: #1d3f96;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child) {
    margin-right: 30px;
}
header .navigation a:hover {
    background: #fff;
    color: #050C9C;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 540px;
    background: url(toimage.jpg);
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    margin: 50px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display : block;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img{
    height: 40px;
    width: 45px;
    margin-left:  12px;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    
    padding-left: 20px;
    margin-bottom: 25px;
}


input{
    flex:1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    border:2px antiquewhite;
}
button{
    border: none;
    outline:none;
    padding: 16px 50px;
    background: #2763b7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid rgb(11, 98, 197);
}

ul li{
    list-style: none; 
    position: relative;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #555;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}